@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url('/font/roboto.ttf');
}

:root {
  --background: #eeeeee;
  --foreground: #222831;
  --main: #DFD0B8;
  --sub: #948979;
  --main-dark: #222831;
  --sub-dark: #393E46;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  @apply transition-all duration-300 ease-in-out;
}

.layout {
  @apply w-full block;
}

.main {
  @apply p-topNav md:p-sideNav;
}