@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto;
  src: url('/font/roboto.ttf');
}

:root {
  --background: #ffffff;
  --foreground: #202020;
  --main: #3a3a3a;
  --sub: #696969;
  --main-dark: #f0f0f0;
  --sub-dark: #bbbbbb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  @apply transition-all duration-300 ease-in-out;
}

.layout {
  @apply w-full block;
}

.main {
  @apply p-topNav md:p-sideNav;
}